<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Layout!</title>
    <link rel="stylesheet" href="assign3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body>
    <!-- <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script> -->
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img src="./images/bpk.png" alt="" height="50" width="50">SHOP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="justify-content=center"  id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">PCMC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PAGE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PRAMOTION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTACT US</a>
              </li>
             
            </ul>
        </div>
        <form class="d-flex">
            <iconify-icon icon="akar-icons:search" width="40" height="40" style="padding:15px"></iconify-icon>
            <iconify-icon icon="ant-design:shopping-cart-outlined"  width="40" height="40" style="padding:15px"></iconify-icon>
            <iconify-icon icon="charm:menu-hamburger"  width="40" height="40" style="padding:15px"></iconify-icon>
          
        </form>
        </div>
      </nav>
      <!-- img part -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin: 20px 20px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            
            <img src="./images/logo1.jpg" class="d-block w-100" alt="..." width="100%" height="600" >
          </div>
          <div class="carousel-item">
            <img src="./images/download (2).jpg" class="d-block w-100" alt="..." width="100%" height="600">
          </div>
          <div class="carousel-item">
            <img src="./images/builddownload (3).jpg" class="d-block w-100" alt="..." width="100%" height="600">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </section>
      <!-- <button> -->
        <button type="button" class="btn btn-primary" style="width: 400px; height: 50px; margin: 10px 10px 0px 30px; "> <i style="font-size:24px" class="fa">&#xf072;</i> <b>FREE SHOPPING WORLDWIDE</b></button>
        <button type="button" class="btn btn-danger" style="width: 400px; height: 50px; margin: 10px 10px 0px 30px; padding-bottom: 2px;"><iconify-icon icon="charm:refresh" style="color: white;" width="20" height="20"></iconify-icon><b>100% MONEY BACK - 48 HOURS</b></button>
        <button type="button" class="btn btn-warning" style="width: 400px; height: 50px; margin: 10px 10px 0px 30px; color: white;"><iconify-icon icon="cib:circle" style="color: white;" width="20" height="20"></iconify-icon><b> 24/7 ONLINE CUSTOMER SUPPORT</b></button>

        <section>
            <div class="featured">
            <h3 style="text-align: center;">FEATURED COLLECTION</h3>
            <h2 style="text-align: center;"> <---------------------></h2>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">New Arrival</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: black;">CLOTHING</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: black;">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">SHOCKS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">BLOCK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" style="color: black;">Accesories</a>
                  </li>
                 
              </ul>
            </div>
        </section>
        <br>
      
        <!-- cards -->
      
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/jacket.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Jacket.</h2>
            <p> $300</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/shooe.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Shoes.</h2>
            <p> $350</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/bag.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">SBag.</h2>
            <p> $150</p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/pant.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Pant.</h2>
            <p> $350</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/doll.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Sport tshirt.</h2>
            <p> $100</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/dress.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Dress.</h2>
            <p> $50</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <!-- another card -->
    <div class="row">
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/handgloves.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">HandGloves.</h2>
            <p> $190</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/hat.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Hat.</h2>
            <p> $350</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/helmate.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Helmate.</h2>
            <p> $150</p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/sportshooe.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">SportShoes.</h2>
            <p> $350</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/ring.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Rings.</h2>
            <p> $100</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 12rem; height:18em;">
          <img src="./images/sunglass.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-text">Sungasses.</h2>
            <p> $50</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- man -->
    <div class="conta">
      <div class="card mb-3" style="max-width: auto; height: 630px; border: none;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./images/ma.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">HOT DEALS</h5>
              <p class="card-dot"><iconify-icon icon="bx:dots-horizontal-rounded" width="50" height="20" flip="horizontal"></iconify-icon></p>
              <h1 class="card-title">Tulose Draey Skirts</h1>
              <h1 class="card-circle"><iconify-icon icon="vaadin:ellipsis-dots-h" width="100" height="40" flip="horizontal"></iconify-icon></h1>
              <h2 class="card-t">$230.00</h2>
              <p class="card-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iste accusantium molestiae tempora exercitationem dolores voluptates rerum eveniet necessitatibus quaerat nihil, cumque iusto nobis consequatur atque ut consequuntur? Quam, pariatur!</p>
              <p class="card-title">color : <i class="fa fa-circle" style="font-size:24px; color: purple;"></i>
                <i class="fa fa-circle" style="font-size:24px; color: yellow;"></i>
                <i class="fa fa-circle" style="font-size:24px; color: blue;"></i>
                <i class="fa fa-circle" style="font-size:24px;color:red"></i> </p>
              <p class="card-title">size : <button>S</button>
                <button>L</button>
                <button>M</button>
                <button>XL</button>
              </p>
              <p class="card-btn"> <button><b>25</b><br> H</button>
                <button><b>35</b> <br> E</button>
                <button><b>45</b> <br>L</button>
                <button><b>55</b> <br> O</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="logo">
    <h3 style="text-align: center;">INSTAGRAM</h3>
    <h2 style="text-align: center;"> <---------------------></h2>
  </div>
    <div class="fle-con">
      <div class="fle"><img src="./images/boy.jpg" alt=""></div>
      <div class="fle"><img src="./images/girl.jpg" alt="">
      </div>
      <div class="fle"> <img src="./images/flo.jpg" alt=""></div>
      <div class="fle"> <img src="./images/lite.jpg" alt=""></div>
      <div class="fle"> <img src="./images/car.jpg" alt=""></div>
      <div class="fle"> <img src="./images/bird.jpg" alt=""></div>
    </div>

    <div class="bttn">
    <button type="button"  style="width: 400px; height: 50px; margin: 10px 10px 0px 30px; "> <b>Best Seller</b></button>
  
    <button type="button"  style="width: 400px; height: 50px; margin: 10px 10px 0px 30px; padding-bottom: 2px;"><b>Top Rate</b> 
    
    
    <button type="button"  style="width: 400px; height: 50px; margin: 10px 10px 0px 30px; padding-bottom: 2px;"><b>Top Special</b></button>
   
      <!-- another <col> -->
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left:29px ; margin-top:20px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/pant.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  
                  <h4 class="card-title1">Pant</h4>
                <p class="card-body1">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>                 
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <p class="card-tt">399.00</p>
                
                <p class="card-bb">
                  <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                  <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                  <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                  <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left: 16px; margin-top:20px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/sunglass.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Sunglass</h4>
                <p class="card-body1">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>                 
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star "></span>
                  <p class="card-tt">399.00</p>
                  <p class="card-bb">
                    <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                    <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                    <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                    <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-top:20px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/bag.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Bag</h4>
                <p class="card-body1">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>                 
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star "></span>
                  <p class="card-tt">399.00</p>
                  <p class="card-bb">
                    <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                    <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                    <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                    <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
      <!-- 2nd -->
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left:29px ; margin-top: 10px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/dress.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Dress</h4>
                  <p class="card-body1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>                 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="card-tt">399.00</p>
                    <p class="card-bb">
                      <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                      <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left: 16px; margin-top: 10px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/handgloves.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">HandGloves</h4>
                  <p class="card-body1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>                 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="card-tt">399.00</p>
                    <p class="card-bb">
                      <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                      <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left: 15px; margin-top: 10px; margin-right: 29px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/hat.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Hat</h4>
                  <p class="card-body1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>                 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="card-tt">399.00</p>
                    <p class="card-bb">
                      <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                      <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 3rd -->
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left:29px ;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/helmate.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Helmate</h4>
                  <p class="card-body1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>                 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="card-tt">399.00</p>
                    <p class="card-bb">
                      <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                      <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 400px; margin-left: 16px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/jacket.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Jacket</h4>
                  <p class="card-body1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>                 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="card-tt">399.00</p>
                    <p class="card-bb">
                      <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                      <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3" style="max-width: 400px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./images/ring.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title1">Rings</h4>
                  <p class="card-body1">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>                 
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p class="card-tt">399.00</p>
                    <p class="card-bb">
                      <button><i class="fa fa-shopping-cart" style="font-size:26px; color:blue"></i></button>
                      <button><iconify-icon icon="carbon:arrows-vertical" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:heart" width="26"></iconify-icon></button>
                      <button><iconify-icon icon="akar-icons:circle-fill" width="26"></iconify-icon></button>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="contain" style="margin-left: 20px; margin-right: 20px; margin-top: 10px;">
        <div class="card bg-dark text-white">
          <img src="./images/sunset.jpg" class="card-img" alt="..." style="width: auto; height:755px ; ">
          <div class="card-img-overlay">
            <!-- <h5 class="card-title2">Card title</h5> -->
            <img class="rounded-circle shadow-1-strong mb-4"
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
              style="width: 150px; margin-left: 550px; margin-top: 40px;" />
            <p class="card-text2" style="padding-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eaque temporibus voluptas, voluptates minima omnis qui tempore provident aspernatur non ut animi ipsam nisi accusantium unde dolore repellendus corporis quam.</p>
            <p class="card-text">Tabassum Shaikh</p>
            <p class="card-text11">Last updated</p>
            <p class="card-text22">
            <i class="fa fa-circle-o" style="font-size:20px ; color: grey;"></i>
            <i class="fa fa-circle" style="font-size:20px ; color: grey;"></i>
            <i class="fa fa-circle-o" style="font-size:20px; color: grey;"></i>
          </p>
          <p class="card-text">
          <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="width:1310px; margin-left: -17px ; margin-top: 20px;">
            <button type="button" class="btn btn-danger" style=" background-color: darkblue; height:70px; border: none;"><i style="font-size:24px; margin-right: 4px;" class="fa">&#xf082;</i>Facebook</button>
            <button type="button" class="btn btn-warning"style="background-color: blue; color:white;height:70px;border: none; "><i style="font-size:24px; margin-right: 4px; " class="fa">&#xf081;</i>Twitter</button>
            <button type="button" class="btn btn-success" style=" background-color: rgb(222, 16, 126) ; height:70px; border: none; "><i class="fa fa-instagram" style="font-size:24px; margin-right: 4px;"></i>Instagram</button>
            <button type="button" class="btn btn-warning"style="background-color: green; color: white; height:70px; border: none; "><i style='font-size:24px; color:white ;margin-right: 4px;' class='fab'>&#xf40c;</i>Whatsapp</button>
            <button type="button" class="btn btn-success" style="background-color: chocolate; color: white;height:70px; border: none;"><i style="font-size:24px;margin-right: 4px" class="fa">&#xf268;</i>Chrome</button>
          </p>
          <br>
          
          </div>
          <div class="loogo">
              <img src="./images/bpk.png" alt="" style="height: 50px; width:100px; margin-top:20px; margin-left: 560px; border: 2px solid black;">
          </div>
          <div class="lasttext">
            <p style="padding-left: 160px; padding-right:150px; padding-top:10px">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium cumque vel provident. Consectetur adipisci vel, facilis eum dolorem inventore sunt voluptatibus eaque vero numquam nisi at. Omnis esse assumenda amet!</p>
          </div>
          <div class="dot">
            <i style="font-size:10px; margin-left: 590px;" class="fa">&#xf22d;</i>
            <i style="font-size:9px" class="fa">&#xf111;</i>
          </div>
          <div class="visa" style="padding-top: 20px; margin-left:500px">
            <i style="font-size:24px" class="fa">&#xf1f0;</i>
            <i style="font-size:24px" class="fa">&#xf1f4;</i>
            <i style="font-size:24px" class="fa">&#xf1f2;</i>
            <i style="font-size:24px" class="fa">&#xf1f1;</i>
            <i style="font-size:24px" class="fa">&#xf1f5;</i>
            <i style="font-size:24px" class="fa">&#xf09d;</i>
          </div>
          </div>
         
    
        </div>
        <footer>
          <h6 style="text-align: center; padding-top:4px;">Copyright &copy All rights reserved</h6>
        </footer>
      </div>










  </body>
</html>